/*------------menu---------*/
.toggle_animation {
  font-weight: bolder;
  font-size: large;
}
.tema_overskrift {
  background-color: var(--orange);
}

/*----------FORMÅL/KONCEPT---------*/

section h3 {
  margin-top: var(--space-m);
}

.spilforside_billede {
  max-width: 100%;
  margin-top: var(--space-s);
}

.containerline {
  background-color: var(--lysbeige);
  padding: 0.5rem;
  margin-block: var(--space-m);
}

/*----------HIGHTLIGHTS-----------*/
.grid2 {
  display: grid;
  gap: 2rem;
}
.css_billede {
  max-width: 100%;
  grid-row: 3;
  margin-top: var(--space-xs);
}

.javascript_billede {
  max-width: 100%;
  margin-top: var(--space-xs);
}

/*----------PROCES-----------*/
.grid3 {
  display: grid;
}
.grid3 h1 {
  margin-top: var(--space-m);
}
.bjoerne_skitse {
  background-color: lightgray;
  margin-bottom: 2rem;
  padding: 3rem;
  margin-inline: 4rem;
  display: flex;
  overflow-x: scroll;
  margin-top: var(--space-m);
}

.bjoerne_skitse img {
  max-width: 100%;
}

/*_____________DESKTOP______________*/
@media (min-width: 800px) {
  /*----------FORMÅL/KONCEPT---------*/

  main {
    margin-right: var(--space-xl);
  }
  .grid1 {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2rem 1fr 1fr;
  }
  .formaal_koncept {
    grid-column: 2;
  }

  .spilforside_billede {
    grid-column: 3;
  }

  /*----------HIGHTLIGHTS---------*/
  .grid2 {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
  }
  .highlights {
    grid-column: 1;
    writing-mode: sideways-lr;
    place-self: start;
    margin-top: var(--space-m);
  }

  .css_billede {
    grid-column: 2;
    grid-row: 2;
    max-width: 50%;
  }

  /*----------PROCES---------*/
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    gap: 1rem;
    margin-top: var(--space-m);
  }
  .proces {
    grid-column: 2;
    writing-mode: sideways-lr;
    place-self: start;
  }

  .bjoerne_skitse {
    width: 90%;
    grid-row: 1;
  }
}
