

@media (max-width: 800px) {
  .desktop_splashbillede {
    display: none;
  }
}
body {
  background-image: url(billeder/splashmobile.svg);
  background-size: cover;
  max-width: 100%;
}

main {
  margin-inline: 0;
}

h1 {
  font-family: comorant_regular;
  color: white;
  white-space: nowrap;
  display: grid;
  justify-content: center;
  margin-top: var(--space-xl);
}

h3 {
  font-family: nunito;
  color: white;
  font-size: 1rem;
  white-space: nowrap;

  display: grid;
  justify-content: center;
  margin-right: 5.5rem;
  margin-bottom: 1.3rem;
}

.underline {
  margin-bottom: var(--space-xs);
  padding: 0.3px;
  background-color: white;
  margin-right: 5rem;
  margin-left: 6.3rem;
}

section li a {
  font-family: nunito;
  color: white;
  margin-left: 6.5rem;
  line-height: 3rem;
}

/*-----------FOOTER----------*/
footer {
  font-family: nunito;
  background-color: white;
  padding: var(--space-xs);
  font-size: 0.7rem;
  text-align: center;
  position: sticky;
  top: 100vh;
}
body {
  min-height: 100vh;
}

@media (min-width: 800px) {
  body {
    background-image: none;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    display: grid;
    justify-items: center;
    margin-top: var(--space-l);
    color: black;
    padding-right: 10.5rem;
  }

  h3 {
    display: grid;
    justify-content: center;
    color: black;
    padding-right: 10.5rem;
  }

  .underline {
    background-color: black;
    margin-right: 10rem;
    margin-left: 9.7rem;
  }

  section li a {
    margin-left: 9.7rem;
    color: black;
  }

  .desktop_splashbillede {
    max-width: 80%;
    margin-left: var(--space-xl);
  }

  /*-----------FOOTER----------*/
footer {
  font-family: nunito;
  background-color: white;
  padding: var(--space-xs);
  font-size: 0.7rem;
  text-align: center;
  position: sticky;
  top: 100vh;
  margin-top: var(--space-m);
}
}
