* {
  all: unset;

  display: revert;

  cursor: revert;

  box-sizing: border-box;
}

/*------------CSS VARIABLER--------*/
html {
  --orange: #c6964b;
  --lysgroen: #8b853f;
  --beige: #e5ded0;
  --moerkgroen: #5e673c;
  --lysbeige: #efebe2;
  --brun: #554331;

  /*gaps (margin og padding)*/
  --space-xs: 1rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 4rem;
  --space-xl: 5rem;
}

/*--------FONTE--------*/

@font-face {
  font-family: comorant_regular;
  font-display: swap; /*fortæller at fonten skal vises med det samme, når fonten er loaded, da denne font er en stor fil*/
  src: url(fonts/Cormorant/Cormorant-Regular.ttf);
}
@font-face {
  font-family: comorant_medium;
  font-display: swap;
  src: url(fonts/Cormorant/Cormorant-Medium.ttf);
}
@font-face {
  font-family: nunito;
  font-display: swap;
  src: url(fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf);
}

@font-face {
  font-family: nunito_bold;
  font-display: swap;
  src: url(fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
}
h1 {
  font-size: 2rem;
  font-family: comorant_regular;
}
h2 {
  font-size: 1.5rem;
  font-family: nunito;
}

h3 {
  font-size: 1.2rem;
  font-family: comorant_medium;
}

p {
  font-family: nunito;
  line-height: 1.5rem;
}

a {
  font-family: nunito;
}

/*---------EFFEKTER----------*/

.menu-bar a:hover {
  border-bottom: 1px solid black;
}

.grid0 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.tema_overskrift {
  box-shadow: 5px 8px 25px grey;
  padding: var(--space-s);
  margin-bottom: var(--space-m);

  grid-row: 1;
  grid-column: 1 / span 2;
  z-index: -1;

  animation-name: flyvtilsiden_kf;
  animation-duration: 2s;
}

@keyframes flyvtilsiden_kf {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.tema_navn {
  grid-column: 1;
  grid-row: 1;
  color: white;
  padding: var(--space-s);
  padding-left: var(--space-m);
  margin-bottom: var(--space-m);
  font-family: nunito;
  white-space: nowrap;
}

/*---------GENEREL----------*/
main {
  margin-inline: var(--space-m);
}

/*------------MENU--------*/

header {
  background-color: white;
  padding-bottom: var(--space-xs);
}

.navlogo {
  display: grid;
  justify-content: center;
  padding-block: var(--space-xs);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  font-family: nunito;
}

/*---------KNAP----------*/

.link_produkt {
  background-color: var(--moerkgroen);
  padding: var(--space-s);
  color: white;
  text-align: center;
  margin-top: var(--space-s);

  animation-name: puls_kf;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes puls_kf {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
/*---------FOOTER-----------*/

.grid {
  display: grid;
}
.footer {
  background-color: #e8e8e2;
  padding: var(--space-m);
  margin-top: var(--space-l);
  text-align: center;
}
.footer h3 {
  color: black;
  font-family: nunito_bold;
  margin-bottom: var(--space-xs);
}
.footer img {
  max-width: 7%;
}

.copyright {
  font-family: nunito;
  margin-top: var(--space-xs);
}

@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-inline: 2rem;
  }

  nav ul {
    padding-top: var(--space-m);
    margin-right: var(--space-xl);
  }

  .tema_overskrift {
    margin-right: var(--space-xl);
  }
  /*----------KNAP--------*/
  .link_produkt {
    grid-column: 1 / span 3;
    margin-inline: 30rem;
  }
  /*-------FOOTER----------*/
  .footer img {
    max-width: 2%;
  }
}
