/*------------menu---------*/
.toggle_om {
  font-weight: bold;
}
/*------------container1---------*/

.container1 {
  background-color: var(--orange);
  box-shadow: 5px 8px 25px grey;
  padding: var(--space-m);
  display: grid;
  margin: var(--space-s);
}
.selvportraet {
  border-radius: 50%;
  width: 50%;
}

h3 {
  color: white;
  margin-top: var(--space-s);
}

p {
  color: white;
}

/*------------container2---------*/

.container2 {
  background-color: var(--lysgroen);
  box-shadow: 5px 8px 25px grey;
  margin-block: var(--space-s);
}
.container2_indhold {
  display: grid;
  grid-template-columns: 12rem 1fr;
}

.indhold_col2 {
  display: grid;
  grid-template-columns: 12rem 1fr;
}
.container2 h3 {
  margin-left: var(--space-xs);
}

.container2 p {
  margin-block: var(--space-s);
}

/*------------container3---------*/

.container3 {
  background-color: var(--beige);
  box-shadow: 5px 8px 25px grey;

  margin-inline: var(--space-xs);
  padding: var(--space-m);
}

.container3 h2 {
  margin-bottom: var(--space-xs);
}
.container3 p {
  color: black;
}

/*----------DESKTOP-----------*/

@media (min-width: 800px) {
  .selvportraet {
    max-width: 50%;
  }

  .gridcol2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container2 {
    grid-template-areas: none;
  }
  .container2_indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
  }
  .indhold_col2 {
    grid-column: 2;
  }
}
