/*------------menu---------*/
.toggle_om {
  font-weight: bolder;
  font-size: large;
}
/*------------container1---------*/

.container1_om {
  background-color: var(--orange);
  box-shadow: 5px 8px 25px grey;
  padding: var(--space-m);
  display: grid;
  margin-block: var(--space-s);
}
.container1_om img {
  border-radius: 50%;
  width: 50%;
}

h3 {
  color: white;
  margin-top: var(--space-s);
}

p {
  color: white;
}

/*------------container2---------*/
.container2_om {
  background-color: var(--lysgroen);
  box-shadow: 5px 8px 25px grey;
  padding-block: var(--space-xs);
  padding-bottom: var(--space-s);
  padding-left: var(--space-s);
  margin-bottom: var(--space-s);
}

/*------------container3---------*/

.container3_om {
  background-color: var(--beige);
  box-shadow: 5px 8px 25px grey;
  padding: var(--space-s);
}

.container3_om h1 {
  margin-bottom: var(--space-xs);
}
.container3_om p {
  color: black;
}

.beskrivelse1_om {
  margin-bottom: var(--space-xs);
}

/*----------DESKTOP-----------*/

@media (min-width: 800px) {
  /*----------container1-----------*/

  .container1_om {
    margin-right: var(--space-m);
    margin-top: 0;
  }
  .grid1_om {
    display: grid;
    grid-template-columns: 30rem 1fr;
  }
  .selvportraet {
    max-width: 50%;
  }

  /*----------container2-----------*/
  .container2_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: var(--space-l);
  }

  .indhold_col1_om {
    grid-column: 1;
  }
  .indhold_col2_om {
    grid-column: 2;
  }
  /*----------PROFILBESKRIVELSE-----------*/
  .container3_om {
    padding: var(--space-l);
    padding-inline: var(--space-m);
    padding-right: var(--space-xl);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .beskrivelse1_om {
    grid-column: 1;
  }

  .beskrivelse2_om {
    grid-column: 2;
  }
}
