/*------------menu---------*/
.toggle_portfolio {
  font-weight: bolder;
  font-size: large;
}

.tema_overskrift {
  background-color: var(--sort);
  box-shadow: 5px 8px 25px grey;
}

/*------------FORMÅL/KONCEPT---------*/

.grid1_pf h3,
.grid2_pf h3,
.grid3_pf h3 {
  margin-top: var(--space-m);
}

.formaal_pf {
  background-color: var(--moerkgroen);
  color: white;
  padding: var(--space-m);
}

.formaal_pf h3 {
  margin-top: 0;
}

/*------------HIGHLIGHTS---------*/
.highlights_pf {
  margin-top: var(--space-xl);
}

.burgermenu_pf h3 {
  margin-top: var(--space-xs);
}
.laes_mere_her1 {
  font-weight: bolder;
}

.containerline_pf {
  background-color: var(--sort);
  padding: 0.5rem;
  margin-block: var(--space-m);
}
/*------------PROCES---------*/
.proces_indhold_pf {
  margin-top: var(--space-xl);
}

.moodboard_indhold_pf h3 {
  margin-top: var(--space-xs);
}

.moodboard_pf {
  max-width: 100%;
  margin-top: var(--space-m);
  margin-bottom: var(--space-xs);
}

.adobe_color_pf {
  max-width: 100%;
}
/*____________DESKTOPVERSION_______________*/
@media (min-width: 800px) {
  /*------------FORMÅL/KONCEPT---------*/
  .grid1_pf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  /*------------HIGHLIGHTS---------*/
  .grid2_pf {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .highlights_pf {
    grid-column: 1;
    grid-row: 1;
    writing-mode: sideways-lr;
  }

  .burgermenu_pf {
    margin-top: var(--space-m);
    margin-inline: var(--space-xs);
  }

  /*------------PROCES---------*/

  .grid3_pf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  .proces_indhold_pf {
    background-color: var(--lysbeige);
    padding: var(--space-l);
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-top: 0;
  }

  .farver_indhold_pf {
    grid-column: 1;
    grid-row: 2;
  }

  .moodboard_pf {
    grid-column: 1;
    grid-row: 1;
  }

  .adobe_color_pf {
    grid-column: 1;
  }
}
