/*------------menu---------*/
.toggle_redesign {
  font-weight: bolder;
  font-size: large;
}

.tema_overskrift {
  background-color: var(--brun);
}

section h3 {
  margin-top: var(--space-m);
}

/*------------FORMÅL---------*/
.grid1 {
  display: grid;
  background-color: var(--lysbeige);
  padding: var(--space-s);
  padding-top: 0;
}

/*------------KONCEPT---------*/
.grid2 p {
  margin-bottom: var(--space-xs);
}
.pilot_video {
  max-width: 100%;
}

.grid3 p {
  margin-bottom: var(--space-xs);
}

.intro_video {
  max-width: 100%;
}

.containerline {
  background-color: var(--lysbeige);
  padding: 0.5rem;
  margin-block: var(--space-m);
}

/*------------HIGHLIGHTS---------*/
.grid4 p {
  margin-bottom: var(--space-xs);
}

.burgermenu_billede {
  max-width: 100%;
}

.grid_billede {
  max-width: 100%;
}

/*------------PROCES---------*/
.grid5 h1 {
  margin-top: var(--space-l);
}

.grid5 p {
  margin-bottom: var(--space-xs);
}
.pink_jesus_video {
  max-width: 100%;
}

/*------------KNAP---------*/
.link_produkt {
  display: grid;
}

/*_________________DESKTOP______________*/

/*------------FORMÅL---------*/
@media (min-width: 800px) {
  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: var(--space-l);
    gap: 1.5rem;
    padding-bottom: var(--space-m);
  }

  .indhold1 {
    grid-column: 1;
  }

  .indhold2 {
    grid-column: 2;
  }

  /*------------KONCEPT---------*/

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid2 h3 {
    grid-column: 1;
    margin-top: var(--space-xl);
  }
  .grid2 p {
    grid-column: 1;
    margin-right: var(--space-s);
  }
  .pilot_video {
    grid-column: 2;
    max-width: 90%;
    margin-left: var(--space-l);
  }

  .grid3 {
    display: grid;
  }

  .grid3 h3 {
    grid-column: 1;
  }

  .grid3 p {
    grid-column: 1;
  }

  .intro_video {
    grid-column: 2;
    max-width: 100%;
  }

  /*------------HIGHLIGHTS---------*/

  .grid4 {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    gap: 2rem;
  }

  .highlights {
    grid-column: 1;
    writing-mode: sideways-lr;
    place-self: start;
  }

  .burger_indhold {
    grid-column: 2;
  }

  .burger_indhold h3 {
    margin-top: 0;
  }

  .burgermenu_billede {
    grid-column: 3;
  }

  .index_indhold {
    grid-column: 2;
  }

  .index_indhold h3 {
    margin-top: 0;
  }
  .grid_billede {
    grid-column: 3;
  }

  /*------------PROCES---------*/
  .grid5 {
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    margin-block: var(--space-m);
    gap: 1rem;
  }

  .highlight_ukirke {
    grid-column: 2;
    writing-mode: sideways-rl;
    margin-top: -4rem;
  }

  .pink_jesus_video {
    grid-column: 1;
    grid-row: 1;
  }

  .proces_indhold {
    grid-column: 3;
  }

  .proces_indhold h3 {
    margin-top: 0;
  }

  .proces_redesign {
    max-width: 100%;
  }
  .link_produkt {
    margin-top: var(--space-xl);
  }
}
