.tema_overskrift {
  background-color: var(--lysgroen);
  color: white;
  padding: var(--space-s);
  padding-left: var(--space-m);
  margin-bottom: var(--space-m);

  font-family: nunito;
  box-shadow: 5px 8px 25px grey;
}

/*-------FORMÅL/KONCEPT---------*/

section h3 {
  margin-top: var(--space-m);
}

.ux_forside {
  max-width: 100%;
  margin-top: var(--space-s);
}

.containerline {
  background-color: var(--lysbeige);
  padding: 0.5rem;
  margin-block: var(--space-m);
}

/*--------HIGHLIGHTS---------*/

.pakkeloesninger_billede {
  max-width: 100%;
  margin-top: var(--space-xs);
}

.hightlights {
  margin-top: var(--space-s);
}

/*--------HIGHLIGHTS---------*/
.moodboard_billede {
  max-width: 100%;
  margin-top: var(--space-xs);
}

.proces {
  margin-top: var(--space-s);
}

.grid3 {
  display: grid;
}

/*_____________DESKTOP_____________*/

@media (min-width: 800px) {
  main {
    margin-inline: var(--space-xl);
  }
.tema_overskrift {
  background-color: var(--lysgroen);
  color: white;
  padding: var(--space-s);
  padding-left: var(--space-xl);
  margin-bottom: var(--space-m);
  margin-right: var(--space-xl);

  font-family: nunito;
  box-shadow: 5px 8px 25px grey;
}
  /*--------FORMÅL/KONCEPT---------*/
  .grid1 {
    display: grid;
    gap: var(--space-s);
  }

  .formaal_koncept {
    grid-column: 1;
  }

  .ux_forside {
    grid-column: 2;
  }
  /*--------HIGHLIGHTS---------*/

  .grid2 {
    display: grid;
    gap: var(--space-s);
    grid-template-columns: 2rem 1fr 1fr;
  }

  .highlights_indhold {
    grid-column: 3;
    margin-bottom: var(--space-s);
  }

  .hightlights {
    grid-column: 1;
    grid-row: 1;
    writing-mode: sideways-lr;
    place-self: start;
  }
  .pakkeloesninger_billede {
    grid-column: 2;
    grid-row: 1;
  }

  /*--------PROCES---------*/

  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 2rem;
    gap: var(--space-s);
  }

  .proces {
    grid-column: 3;
    writing-mode: sideways-rl;
    margin-top: var(--space-s);
  }
  .moodboard_billede {
    max-width: 100%;
    grid-column: 2;
    grid-row: 1;
    margin-top: var(--space-s);
  }
}
