/*------------menu---------*/
.toggle_web {
  font-weight: bolder;
  font-size: large;
}

.tema_overskrift {
  background-color: var(--moerkgroen);
  color: white;

  font-family: nunito;
  box-shadow: 5px 8px 25px grey;
}
/*---------FORMÅL/KONCEPT----------*/

section h3 {
  margin-top: var(--space-m);
}

.splashbillede_web {
  aspect-ratio: 774/439;
  max-width: 100%;
  margin-top: var(--space-s);
}

.containerline_web {
  background-color: var(--lysbeige);
  padding: 0.5rem;
  margin-block: var(--space-m);
}

/*---------HIGHLIGHTS----------*/

.galleri_web,
.lastchild_web {
  max-width: 100%;
}

.hightlight1_web,
.hightlight2_web {
  margin-top: var(--space-s);
}
/*-------KNAP_______*/
.grid3_web {
  display: grid;
}
/*_______________DESKTOP_____________*/
@media (min-width: 800px) {
  main_margin {
    margin-inline: var(--space-xl);
  }

  /*-------FORMÅL/KONCEPT--------*/

  .grid1_web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .splashbillede_web {
    grid-column: 2;
  }

  /*-------HIGHTLIGHTS--------*/
  .grid2_web {
    display: grid;
    grid-template-columns: 1fr 1fr 2rem;
    gap: var(--space-s);
  }

  .lastchild {
    grid-column: 1;
  }

  .galleri_web {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .hightlight1_web {
    writing-mode: sideways-rl;
    grid-column: 3;
    grid-row: 1 / span 2;
    margin-top: 0;
  }

  .grid3_web {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    margin-top: var(--space-m);
    gap: var(--space-s);
  }

  .hightlight2_web {
    writing-mode: sideways-lr;
    grid-row: 1;
    place-self: start;
    margin-top: 0;
  }

  .lastchild_web {
    grid-column: 2;
  }
}
